[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
asyncpg = "*"
greenlet = "*"
alembic = "*"
psycopg2 = "*"
pyfa-converter = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
pytz = "*"

[dev-packages]
black = "*"
sqlalchemy2-stubs = "*"

[requires]
python_version = "3.10"
